/*
Syntax error: File to import not found or unreadable: config/_structure.
              Load paths:
                /Users/blake/www/github/bh-compass/stylesheets
                /Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets
                /Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets
                
        on line 6 of /Users/blake/www/github/bh-compass/stylesheets/_bh_compass.scss
        from line 2 of /Users/blake/www/github/bh-compass/stylesheets/application.css.scss

1: /Users/blake/www/github/bh-compass/stylesheets/application.css.scss

Backtrace:
/Users/blake/www/github/bh-compass/stylesheets/_bh_compass.scss:6
/Users/blake/www/github/bh-compass/stylesheets/application.css.scss:2
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/import_node.rb:42:in `import'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:148:in `rescue in visit_import'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:153:in `visit_import'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:145:in `block in visit_import'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:145:in `map'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:145:in `visit_import'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/engine.rb:291:in `_render'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/engine.rb:239:in `block in render'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.4/lib/sass/engine.rb:239:in `render'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/compiler.rb:130:in `block (2 levels) in compile'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/compiler.rb:116:in `timed'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/compiler.rb:129:in `block in compile'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/logger.rb:45:in `red'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/compiler.rb:128:in `compile'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/compiler.rb:108:in `compile_if_required'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/compiler.rb:95:in `block (2 levels) in run'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/compiler.rb:93:in `each'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/compiler.rb:93:in `block in run'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/compiler.rb:116:in `timed'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/compiler.rb:92:in `run'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/commands/watch_project.rb:142:in `recompile'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/commands/base.rb:18:in `execute'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/bin/compass:25:in `block in <top (required)>'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/bin/compass:39:in `call'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/bin/compass:39:in `<top (required)>'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/bin/compass:19:in `load'
/Users/blake/.rvm/gems/ruby-1.9.2-p180/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: config/_structure.\A               Load paths:\A                 /Users/blake/www/github/bh-compass/stylesheets\A                 /Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets\A                 /Users/blake/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets\A                 \A         on line 6 of /Users/blake/www/github/bh-compass/stylesheets/_bh_compass.scss\A         from line 2 of /Users/blake/www/github/bh-compass/stylesheets/application.css.scss\A \A 1: /Users/blake/www/github/bh-compass/stylesheets/application.css.scss"; }
