html{
  background-color:#333;
}
body{
  background-color:transparent;
}
#container{
  width:$width-container;
  margin:10px auto;
}

#main{
  overflow:auto;
  background-color:#fff;
}

#content{
  .inner-content{
    padding:10px;
  }
}

.admin-layout{
  background-color:adjust-lightness($link-color, -25);;
}