html{
  
}
body{
  
}
#container{
  width:100%;
	max-width:$width-container;
	margin:20px auto;
	background:#fff;
	@include border-radius(10px);
	@include box-shadow(#ccc, 1px);
}
#main{
  overflow:auto;
}
#main.with-aside_content{
  overflow:hidden;
  #content{
    width:640px;
    float:left;
  }
  aside.content{
    float:left;
    width:310px;
    margin-left:10px;
  }
}

#content{
  .inner-content{
    padding:10px;
  }
}
aside.content{
  .inner-aside_content{
    padding:10px;
  }
}