/**************************************************************

	@include replace-class(image-name, file-extension);
  -
	Replace the element with this image.
	Automatically generate a css class based on the image name.

**************************************************************/
@mixin image-replace-auto($name, $hover:none, $ext: png)
{
	.#{$name},
	.#{$name}.active:hover {
		@include image-replace($name, $ext);
	}
	input.#{$name} {
		cursor:pointer;
	}
	@if $hover != none{
		.#{$name}:hover,
		.#{$name}.active {
			@include image-replace($hover, $ext);
		}
	}
}

/**************************************************************
	
	@include image-replace(image-name, file-extension);
	-
	Replace the element with this image
	
**************************************************************/
@mixin image-replace($name, $ext: png)
{
	@include sized-background-image($name, $ext);
	display:block;
	text-indent:-9999px;
	text-align:left;
	border:0;
}


/**************************************************************

	@include sized-background-image(image-name, file-extension);
	-
	Set the backgroud image and determine the width & height.

**************************************************************/

@mixin sized-background-image($name, $ext: png)
{
  $filename: '#{$name}.#{$ext}';
	background:image-url($filename) top left no-repeat transparent;
	width:image-width($filename);
	height:image-height($filename);
}


@import "compass/utilities/general/min";

/**************************************************************

	@include image-bullet-auto(image-name, image-position, file-extension);
	-
	Position an image the left or right of an element.
	Automatically generate a css class based on the image name.
	
**************************************************************/

@mixin image-bullet-auto($name, $align:left, $ext: png)
{
	.#{$name} {
		@include image-bullet($name, $align, $ext);
	}
}

/**************************************************************

	@include image-bullet(image-name, image-position, file-extension);
	-
	Position an image the left or right of an element.
		
**************************************************************/
@mixin image-bullet($name, $align:left, $ext: png)
{
	$filename: '#{$name}.#{$ext}';
	
	display:block;
	border:0;
	background:image-url($filename) no-repeat scroll $align center transparent;
	@include min-height(image-height( $filename ) - image-height( $filename ) / 4 );
  padding-top:image-height( $filename ) / 4;
	padding-#{$align}:image-width( $filename ) + 5px;
	
	@if $align == right{
		float:right;
	}
}