@mixin hover-underline()
{
  text-decoration:none;
  &:hover{
    text-decoration:underline;
  }
}

@mixin reset-list()
{
  list-style:none;
  vertical-align:top;
  margin:0;
  li{
    margin:0;
  }
}