/**************************************************************
	
	@include floating-list(margin, orientation)
	-
	Reset a list and force the list items to float left.
	
**************************************************************/

@mixin floating-list()
{
  list-style:none;
  vertical-align:top;
  margin:0;
  overflow:auto;
  li{
    margin:0;
    float:left;
  }
}

/**************************************************************
	
	@include margin-child(margin, orientation)
	-
	Place a margin on top and bottom, but only if not first or last.
	
**************************************************************/

@mixin margin-child($margin:10px, $orientation:y)
{
  @if $orientation == x{
    margin-left:$margin;
    margin-right:$margin;
    &:first-child{margin-left:0;}
    &:last-child{margin-right:0;}
  }
  @if $orientation == y{
    margin-top:$margin;
    margin-bottom:$margin;
    &:first-child{margin-top:0;}
    &:last-child{margin-bottom:0;}
  }
}

/**************************************************************
	
	@include image-replace(image-name, file-extension);
	-
	Replace the element with this image
	
**************************************************************/
@mixin image-replace($name, $ext: png)
{
	@include sized-background-image($name, $ext);
	display:block;
	text-indent:-9999px;
	text-align:left;
	border:0;
}

/**************************************************************

	@include image-replace-auto(image, hover-image, ext)
  -
	Replace the element with this image.
	Automatically generate a css class based on the image name.

**************************************************************/
@mixin image-replace-auto($name, $hover:none, $ext: png)
{
	.#{$name},
	.#{$name}.active:hover {
		@include image-replace($name, $ext);
	}
	input.#{$name} {
		cursor:pointer;
	}
	@if $hover != none{
		.#{$name}:hover,
		.#{$name}.active {
			@include image-replace($hover, $ext);
		}
	}
}

/**************************************************************

	@include image-bullet(image-name, image-position, file-extension);
	-
	Position an image the left or right of an element.
		
**************************************************************/
@mixin image-bullet($name, $align:left, $ext: png)
{
	$filename: '#{$name}.#{$ext}';
	
	display:block;
	border:0;
	background:image-url($filename) no-repeat scroll $align center transparent;
	@include min-height(image-height( $filename ) - image-height( $filename ) / 4 );
  padding-top:image-height( $filename ) / 4;
	padding-#{$align}:image-width( $filename ) + 5px;
	
	@if $align == right{
		float:right;
	}
}

/**************************************************************

	@include image-bullet-auto(image-name, image-position, file-extension);
	-
	Position an image the left or right of an element.
	Automatically generate a css class based on the image name.
	
**************************************************************/
@mixin image-bullet-auto($name, $align:left, $ext: png)
{
	.#{$name} {
		@include image-bullet($name, $align, $ext);
	}
}

/**************************************************************

	@include sized-background-image(image-name, file-extension);
	-
	Set the backgroud image and determine the width & height.

**************************************************************/
@mixin sized-background-image($name, $ext: png)
{
  $filename: '#{$name}.#{$ext}';
	background:image-url($filename) top left no-repeat transparent;
	width:image-width($filename);
	height:image-height($filename);
}