/* Project Variables */

$width-container:       960px;
$width-section-main:    $width-container * 0.75;
$width-aside-main:      $width-container * 0.25;

/* Colors */

$color-body: #333;
$color-body-more: #000;
$color-body-less:#555;
$color-link: #607890;
$color-not-important:#999;
$size-body: 13px;
$size-body-small: 11px;