/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Settings */
/* Project Variables */
/* Helpers */
/**************************************************************
	
	@include image-replace(image-name, file-extension);
	-
	Replace the element with this image
	
**************************************************************/
/**************************************************************

	@include image-replace-auto(image, hover-image, ext) -
	Replace the element with this image.
	Automatically generate a css class based on the image name.

**************************************************************/
/**************************************************************

	@include image-bullet(image-name, image-position, file-extension);
	-
	Position an image the left or right of an element.
		
**************************************************************/
/**************************************************************

	@include image-bullet-auto(image-name, image-position, file-extension);
	-
	Position an image the left or right of an element.
	Automatically generate a css class based on the image name.
	
**************************************************************/
/**************************************************************

	@include sized-background-image(image-name, file-extension);
	-
	Set the backgroud image and determine the width & height.

**************************************************************/
/* Include Shared Styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, .bh-form .bh-describe, .bh-table .bh-describe, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Size & Position */
#container { width: 960px; margin: 0 auto; }

section.main { width: 720px; }

aside.main { width: 240px; }

/* Text */
h1 { font-size: 30px; line-height: 30px; }

h2 { font-size: 24px; line-height: 24px; }

h3 { font-size: 18px; line-height: 18px; }

h4 { font-size: 16px; line-height: 16px; }

body { font-family: Arial; color: #333333; font-size: 13px; line-height: 19px; }

p { margin-top: 12px; margin-bottom: 12px; }
p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }

strong { font-weight: bold; }

small { font-size: 11px; font-weight: bold; color: #555555; }

a { color: #607890; text-decoration: none; }
a:hover { text-decoration: underline; }

ul { list-style: circle; }

ol { list-style: decimal outside none; }

ul, ol { margin-top: 12px; margin-bottom: 12px; margin-left: 20px; }
ul:first-child, ol:first-child { margin-top: 0; }
ul:last-child, ol:last-child { margin-bottom: 0; }
ul li, ol li { margin-top: 5px; margin-bottom: 5px; }
ul li:first-child, ol li:first-child { margin-top: 0; }
ul li:last-child, ol li:last-child { margin-bottom: 0; }

/*  Image Replacements. Helper mixins: - @include image-replace(image, ext);
	@include image-replace-auto(image, hover-image, ext)
	@include image-bullet(image, align, ext);
	@include image-bullet-auto(image, align, ext);
	@include sized-background-image(image, ext);
*/
.bh-form, .bh-table { color: #333333; font-size: 13px; margin-top: 10px; margin-bottom: 10px; }
.bh-form:first-child, .bh-table:first-child { margin-top: 0; }
.bh-form:last-child, .bh-table:last-child { margin-bottom: 0; }
.bh-form .bh-describe, .bh-table .bh-describe { padding: 10px 0; overflow: hidden; }
.bh-form .bh-request, .bh-table .bh-request { overflow: hidden; }
.bh-form .bh-field, .bh-table .bh-field { overflow: auto; border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-top: 10px; margin-bottom: 10px; }
.bh-form .bh-field:first-child, .bh-table .bh-field:first-child { margin-top: 0; }
.bh-form .bh-field:last-child, .bh-table .bh-field:last-child { margin-bottom: 0; }
.bh-form .bh-field:last-child, .bh-table .bh-field:last-child { border-bottom: 0; padding-bottom: 0; }
.bh-form .bh-field .bh-describe, .bh-table .bh-field .bh-describe { width: 30%; float: left; }
.bh-form .bh-field .bh-request, .bh-table .bh-field .bh-request { float: left; width: 70%; }
.bh-form .bh-group, .bh-table .bh-group { border: 3px solid #eee; padding: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; margin-top: 10px; margin-bottom: 10px; }
.bh-form .bh-group:first-child, .bh-table .bh-group:first-child { margin-top: 0; }
.bh-form .bh-group:last-child, .bh-table .bh-group:last-child { margin-bottom: 0; }
.bh-form .bh-actions, .bh-table .bh-actions { margin-top: 10px; margin-bottom: 10px; }
.bh-form .bh-actions:first-child, .bh-table .bh-actions:first-child { margin-top: 0; }
.bh-form .bh-actions:last-child, .bh-table .bh-actions:last-child { margin-bottom: 0; }
.bh-form .bh-actions input, .bh-table .bh-actions input, .bh-form .bh-actions a, .bh-table .bh-actions a { background-color: #333333; color: #ffffff; font-weight: bold; border: none; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; }
.bh-form .bh-actions input:hover, .bh-table .bh-actions input:hover, .bh-form .bh-actions a:hover, .bh-table .bh-actions a:hover { cursor: pointer; }
.bh-form .bh-actions a, .bh-table .bh-actions a { display: inline-block; padding: 10px; text-decoration: none; }
.bh-form .bh-error-explanation, .bh-table .bh-error-explanation { background-color: #FFA5A5; border: 2px solid #A40000; padding: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; margin-top: 10px; margin-bottom: 10px; }
.bh-form .bh-error-explanation:first-child, .bh-table .bh-error-explanation:first-child { margin-top: 0; }
.bh-form .bh-error-explanation:last-child, .bh-table .bh-error-explanation:last-child { margin-bottom: 0; }
.bh-form .bh-error-explanation ul, .bh-table .bh-error-explanation ul { margin-top: 10px; margin-bottom: 10px; }
.bh-form .bh-error-explanation ul:first-child, .bh-table .bh-error-explanation ul:first-child { margin-top: 0; }
.bh-form .bh-error-explanation ul:last-child, .bh-table .bh-error-explanation ul:last-child { margin-bottom: 0; }
.bh-form .bh-error-explanation ul li, .bh-table .bh-error-explanation ul li { list-style-type: disc; margin-left: 20px; }
.bh-form textarea, .bh-table textarea, .bh-form input, .bh-table input { color: #333333; font-size: 13px; padding: 10px; border: 1px solid #ddd; background-color: #f4f4f4; }
.bh-form textarea.bh-disabled, .bh-table textarea.bh-disabled, .bh-form input.bh-disabled, .bh-table input.bh-disabled { background: none repeat scroll 0 0 #DDDDDD; color: #666666; }
.bh-form textarea, .bh-table textarea { height: 140px; }

.bh-table th { font-weight: bold; background-color: #f2f2f2; }
.bh-table th, .bh-table td { vertical-align: top; padding: 10px; border: 1px solid #dddddd; }
.bh-table .bh-actions { text-align: center; vertical-align: middle; }
.bh-table .bh-actions input, .bh-table .bh-actions a { margin-top: 10px; margin-bottom: 10px; margin-right: 5px; }
.bh-table .bh-actions input:first-child, .bh-table .bh-actions a:first-child { margin-top: 0; }
.bh-table .bh-actions input:last-child, .bh-table .bh-actions a:last-child { margin-bottom: 0; }
.bh-table .bh-actions input:last-child, .bh-table .bh-actions a:last-child { margin-right: 0; }

/* Custom Form Styles */
/* Visual Elements */
/* Lists */
/* Headers */
/* Navigation */
/* Include Pages */
