$bhColor:#333;
$bhSize:14px;
$bhMargin:10px;

.bh-form{
  color:$bhColor;
  font-size:$bhSize;
  @include auto-margin;
	
	.bh-describe{
    @extend h5;
    padding:10px 0;
    overflow:hidden;
  }
  .bh-request{
    overflow:hidden;
  }
  .bh-field{
    overflow:auto;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
    @extend .bh-auto-margin;
    
    &:last-child{
      border-bottom:0;
      padding-bottom:0;
    }
    
    .bh-describe{
      width:30%;
      float:left;
    }
    .bh-request{
      float:left;
      width:70%;
    }
  }
  .bh-group{
    border: 3px solid #eee;
    padding: 10px;
    @include border-radius(10px);
    @extend .bh-auto-margin;
  }
  .bh-actions{
    @extend .bh-auto-margin;
    input,a{
      background-color: #333333;
      color: #ffffff;
      font-weight: bold;
      border:none;
      @include border-radius(10px);
      &:hover{
        cursor:pointer;
      }
    }
    a{
      display:inline-block;
      padding:10px;
      text-decoration:none;
    }
  }
  .bh-error-explanation{
    background-color: #FFA5A5;
    border: 2px solid #A40000;
    padding: 10px;
    @include border-radius(10px);
    @extend .bh-auto-margin;
    
    ul{
      @extend .bh-auto-margin;
      li{
        list-style-type:disc;
        margin-left: 20px;
      }
    }
  }
  textarea,
  input{
    color:$bhColor;
    font-size:$bhSize;
    padding:10px;
    border:1px solid #ddd;
    background-color:#f4f4f4;
    &.bh-disabled{
      background: none repeat scroll 0 0 #DDDDDD;
      color: #666666;
    }
  }
  textarea{
    height:140px;
  }
}

.bh-table{
  @extend .bh-form;
  th{
    font-weight:bold;
    background-color:#f2f2f2;
  }
  tr{

  }
  th,td{
    vertical-align:top;
    padding:10px;
    border:1px solid #dddddd;
  }
  .bh-actions{
    text-align:center;
    vertical-align:middle;
    input,a{
      @extend .bh-auto-margin;
      margin-right:5px;
      &:last-child{margin-right:0;}
    }
  }
}