.typography-base{
	font-family:Arial,Helvetica,sans-serif;
}
body,h1,h2,h3,h4,h5,h6{
	@extend .typography-base;
}
h1{
	font-size:30px;
	line-height:30px;
}
h2{
	font-size:24px;
	line-height:24px;
}
h3{
	font-size:18px;
	line-height:18px;
}
h4{
	font-size:16px;
	line-height:16px;
	text-transform:uppercase;
}
h5{
	font-size:16px;
	line-height:16px;
}
h6{
	font-size:14px;
	line-height:20px;
}
body{
  color:$font-color;
	font-size:13px;
	line-height:19px;
}
strong{
	font-weight:bold;
}
small{
	font-size:11px;
	font-weight:bold;
	color:$font-less-color;
}
a{
	color:$link-color;
	text-decoration:none;
	&:hover{
	 color:$link-hover-color; 
	 text-decoration:underline;
	}
}
p{
	margin-top:12px;
	margin-bottom:12px;
	&.is-first{
		margin-top:0;
	}
	&.is-last{
		margin-bottom:0;
	}
}