/* Size & Position */
#container{
	width:$width-container;
	margin:0 auto;
}
#main{
}
section.main{
  width:$width-section-main;
  .inner-section-main{
    padding:10px;
  }
}
aside.main{
  width:$width-aside-main;
  .inner-aside-main{
    padding:10px;
  }
}
img{
  vertical-align:top;
}