/* Size & Position */
#container{
	width:$width-container;
	margin:0 auto;
}
#main{
  overflow:auto;
}
section.main{
  float:left;
  width:$width-section-main;
  .inner-section-main{
    padding:10px;
  }
}
aside.main{
  float:left;
  width:$width-aside-main;
  .inner-aside-main{
    padding:10px;
  }
}