@mixin margin-child($margin:10px, $orientation:y)
{
  @if $orientation == x{
    margin-left:$margin;
    margin-right:$margin;
    &:first-child{margin-left:0;}
    &:last-child{margin-right:0;}
  }
  @if $orientation == y{
    margin-top:$margin;
    margin-bottom:$margin;
    &:first-child{margin-top:0;}
    &:last-child{margin-bottom:0;}
  }
}